<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Alpha Farm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
          </nav>
          
  </div>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Pest Details</h1>
        <p class="lead">Check your pest details</p>
        <a class="btn btn-primary btn-lg" href="{%url 'hardware'%}" role="button">Hardware details</a>
      </div>
        <div class="row">
            <h3>Problem:{{name_of_pest}}</h3>
           <p>Image Data: {{data_content}}</p> 
            <p>Temprature Data: {{temp_data}}</p>
            <p>Pest Data:{{data}}</p>
            <h3>Pest Data:</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Infected:</th>
                        <td>{{name_of_pest}}</td>
                      </tr>
                  <tr>
                    <th scope="row">Infected by:</th>
                    <td>{{pest_name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Remedy</th>
                    <td>{{remedy}}</td>
                  </tr>
                  <tr>
                    <th scope="row">About Pest:</th>
                    <td>{{about}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Solution:</th>
                    <td>{{solution}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>